.listings-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
    margin: 0 auto;
  padding: 20px;
  background-color: #002357;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', sans-serif;
  color: #f1e0e0;
}
  


